* text=auto eol=lf

*.png binary
*.jpg binary
*.jks binary
*.keystore binary
*.apk binary

gradlew text eol=lf
*.bat text eol=crlf

*.java text diff=java
*.py text diff=python
*.json text
*.yml text
*.xml text
